<div class="flex flex-col justify-center ml-3">
    <input type="checkbox" id="light-switch" class="light-switch sr-only" />
    <label class="relative cursor-pointer p-2" for="light-switch">
        <svg class="dark:hidden" width="16" height="16" xmlns="http://www.w3.org/2000/svg">
            <!-- Your SVG content for light mode -->
        </svg>
        <svg class="hidden dark:block" width="16" height="16" xmlns="http://www.w3.org/2000/svg">
            <!-- Your SVG content for dark mode -->
        </svg>
        <span class="sr-only">Switch to light / dark version</span>
    </label>
</div>

<script>
    const lightSwitch = document.getElementById('light-switch');
    const storedDarkMode = JSON.parse(localStorage.getItem('dark-mode'));

    // Function to set initial state
    function setInitialState() {
        if (storedDarkMode) {
            document.documentElement.classList.add('dark');
            lightSwitch.checked = true;
        }
    }

    // Event listener for switch change
    lightSwitch.addEventListener('change', () => {
        const { checked } = lightSwitch;
        if (checked) {
            document.documentElement.classList.add('dark');
            localStorage.setItem('dark-mode', true);
        } else {
            document.documentElement.classList.remove('dark');
            localStorage.setItem('dark-mode', false);
        }
    });

    // Set initial state on page load
    setInitialState();
</script>